{% extends 'base.html.twig' %}

{% block body %}

    <br />
<div class="container-fluid" style="position: relative; width:70%;" >
   <h1><b>Agregar nuevo periodo</b></h1><br /><br />
    {{ form_start(form) }}   
        {{ form_widget(form) }}
        <input class="btn btn-outline-primary" type="submit" value="Agregar" />
    {{ form_end(form) }}
</br>
{% if  error_periodo is defined %}
<b style="color: red;">{{error_periodo}}</b></br></br>
{% endif %}
    <ul>
        <li>
            <a  href="{{ path('persona_edit', { 'id' : id }) }}"> Volver </a>
           
        </li>
    </ul>
</div>    
{% endblock %}
