{% extends 'base.html.twig' %}


{% block body %}

<script>

function openMind(id){
   
  $('#'+id).show();  
    
}

function closeMind(id){
   
  $('#'+id).hide();  
    
}



</script>

    <h1>Periodos</h1>
<div class="container-fluid"   >
    <table class="table table-responsive">
    <thead>
      <tr class="table-info">
           <td><b>Nombre:</b>  {{persona.nombre}}  </td>
            <td><b>Puesto:</b>  {{persona.puesto}}  </td>
          </tr> 
            <tr class="table-dark">
                
                <th>periodo</th>
                <th>dias del periodo</th>
                <th>dias restantes</th>
            </tr>
         </thead>
         <tbody>
                                
          {% for v in vacacione %}
          <tr >          
          
                 <td>{{ v.periodo }}</td>
                 <td>{{ v.diasPeriodo }}</td>
                 <td>{{ v.diasRestantes }}</td> 
                 <td><button id="detalle" class="btn btn-primary" onclick="openMind({{v.id}})">detalle</button></td>    
          </tr>  
          <tr id="{{ v.id}}"  style="display: none;">
          <td>
         
          {%if v.conGoce == null   %}
           <b>Dias con goce de sueldo: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Dias con goce de sueldo: </b>{{ v.conGoce }}<br /><br />
          
          {% endif %}
          
          {%if  v.sinGoce == null   %}
           <b>Dias sin goce de sueldo: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Dias sin goce de sueldo: </b> {{ v.sinGoce }}<br /><br />  
          {% endif %}
          
          
          {%if v.fechaInicio == null   %}
           <b>Fecha de inicio: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Dias con goce de sueldo: </b>{{ v.fechaInicio|date("m/d/Y") }}<br /><br />
          
          {% endif %}
          
           {%if v.fechaFin == null   %}
           <b>Fecha de fin: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Dias con goce de sueldo: </b>{{ v.fechaFin|date("m/d/Y") }}<br /><br />
          
          {% endif %}
          
          <div  class="container">
           <div class="row">
           
           <div>
           <button  class="btn btn-outline-secondary" onclick="closeMind({{v.id}})">cerrar</button>
           </div>
          
            
             
           <div style="position: relative; left: 2%;">
           <form method="get" action="{{ path('vacaciones_edit', { 'id' : v.id }) }}">
           <input type="submit" class="btn btn-success" value="modificar"/>
           </form>
          
           </div>
           </div>
           
          </tr> 
               
           {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}




