{% extends 'base.html.twig' %}


{% block body %}

<script>

function openMind(id){
   
  $('#'+id).fadeIn();  
    
}

function closeMind(id){
   
  $('#'+id).fadeOut("fast");  
    
}


function cerrarPeriodo(id){
    
 {% set id = 0 %}
 var url = '{{ path("cerrar_periodo",{id: 'id'}) }}'; 
 url = url.replace("id", id);

    
    if (confirm('Estas seguro de cerrar el periodo?')) {
        
        $.post( url , function( data ) {
        location.reload();
         
        });
        
       } else {
        
       
        
       } 
       
}


</script>


<div class="container-fluid" style="position: relative; width:70%;"  >
 <h1><b>Periodos</b></h1>
 
    <table class="table table-responsive" style="width: 100%; ">
    <thead>
      <tr class="table-info">
           <td><b>Nombre:</b>  {{persona.nombre}}  </td>
            <td><b>Puesto:</b>  {{persona.puesto}}  </td>
          </tr> 
            <tr class="table-dark">
                
                <th>periodo(a&ntilde;o)</th>
                <th>dias del periodo</th>
                <th>dias restantes</th>
            </tr>
         </thead>
         <tbody>
          {% set totalRestante = 0 %}
          {% set conGoce = 0 %}
          {% set sinGoce = 0 %} 
                              
          {% for v in vacacione %}
          
          {% set totalRestante =  totalRestante + v.diasRestantes %}
                  
          <tr >          
          
                 <td>{{ v.periodo }}</td>
                 <td>{{ v.diasPeriodo }}</td>
                 <td>{{ v.diasRestantes }}</td> 
                 <td><button id="detalle" class="btn btn-primary" onclick="openMind({{v.id}})">detalle</button></td>  
                 <td>
                 
                 {% if v.activo == 0 %} 
                  <button class="btn btn-light" id="cerrar" onclick="cerrarPeriodo({{v.id}})" name="cerrar">cerrar periodo </button> 
                 {% endif %}
                 
                 {% if v.activo == 1 %} 
                  <button class="btn btn-secondary" id="cerrado" style="opacity:0.2;" id="cerrar" onclick="alert('El perido esta cerrado, no se puede modificar.')"  name="cerrar"> periodo cerrado </button>
                 {% endif %}
                  
                 </td>  
          </tr>  
          <tr id="{{ v.id}}"  style="display: none;">
          <td>
         
          {%if v.conGoce == null   %}
           <b>Dias con goce de sueldo: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Dias con goce de sueldo: </b>{{ v.conGoce }}<br /><br />
          {% set conGoce =  conGoce + v.conGoce %}
          {% endif %}
          
          {%if  v.sinGoce == null   %}
           <b>Dias sin goce de sueldo: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Dias sin goce de sueldo: </b> {{ v.sinGoce }}<br /><br />  
          {% set sinGoce =  sinGoce + v.sinGoce %}
          {% endif %}
          
          
          {%if v.fechaInicio == null   %}
           <b>Fecha de inicio: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Fecha inicio: </b>{{ v.fechaInicio|date("m/d/Y") }}<br /><br />
          
          {% endif %}
          
           {%if v.fechaFin == null   %}
           <b>Fecha de fin: <b style="color: red;">Sin datos</b><br /><br />
          {% else %}
          <b>Fecha fin: </b>{{ v.fechaFin|date("m/d/Y") }}<br /><br />
          
          {% endif %}
          
          <div  class="container">
           <div class="row">
           
           <div>
           <button  class="btn btn-outline-secondary" onclick="closeMind({{v.id}})">cerrar</button>
           </div>
          
            
           {% if v.activo == 0 %}  
           <div id="mod" style="position: relative; left: 2%;">
           <form method="get" action="{{ path('vacaciones_edit', { 'id' : v.id , 'id_persona': persona.id}) }}">
           <input type="submit" class="btn btn-success" value="modificar"/>
           </form>
          
           </div>
                  
           {% endif %}
           
           </div>
           </div>
          </tr> 
               
           {% endfor %}
        </tbody>
      
    </table>
    
     <table class="table table-responsive " style=" position:relative; width: 100%; ">
     <thead class="thead-dark">
      <tr class="table-info">
         <th> Total dias restantes  </th>
         <th> Total dias con goce de sueldo  </th>
         <th> Total dias sin goce de sueldo  </th>
         </tr>
     </thead>
     <tbody>
      <tr  style="color: red;  border: 1px solid black;" >
       <th scope="row"  > {{totalRestante}} dias  </th>
       <th scope="row"> {{conGoce}} dias </th>
       <th scope="row"> {{sinGoce}} dias  </th>
      </tr>
     </tbody>
     </table>
     
      <ul>
        <li>
            <a href="{{ path('persona_edit', { 'id' : persona.id }) }}">Volver</a>
        </li>
        
    </ul>
</div>

{% endblock %}




