{% extends 'base.html.twig' %}
{% block body %}

<script>
$(document).ready(function(){
	
	$("#kwd_search").keyup(function(){
		
		if( $(this).val() != "")
		{

			$("#my-table tbody>tr").hide();
			$("#my-table td:contains-ci('" + $(this).val() + "')").parent("tr").show();
		}
		else
		{
			
			$("#my-table tbody>tr").show();
		}
	});
});

$.extend($.expr[":"], 
{
    "contains-ci": function(elem, i, match, array) 
	{
		return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
	}
});
 
</script>

<br />
<div>
<img  src="{{ asset('public/interaxa.png') }}"  style="position: relative; left: 35%; border-top-left-radius: 30px;
border-bottom-right-radius: 30px; border:5px inset blue;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);"/>
</div>

<br /><br />

<div>
<input type="text" id="kwd_search" placeholder="Buscar" value="" style="position:relative; float:right; right:1%; width:300px; border-top-left-radius: 10px; background-color:#A9D0F5"/>
</div>
<br><br>
<div class="container-fluid">
    <table  id="my-table" class="table table-dark" >
        <thead >
            <tr>
                <th>Id</th>
                <th>Nro. legajo</th>
                <th>Nombre</th>
                <th>Fecha nacimiento</th>
                <th>Edad</th>
                <th>Tipodoc</th>
                <th>Nro. doc</th>
                <th>Cuil</th>
                <th>Nro. celular</th>
                <th>Mail</th>             
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ persona.id }}</a></td>
                <td>{{ persona.nroLegajo }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{% if persona.fechaNacimiento %}{{ persona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ persona.edad }}</td>
                <td>{{ persona.tipoDoc }}</td>
                <td>{{ persona.nroDoc }}</td>
                <td>{{ persona.cuil }}</td>
                <td>{{ persona.numCelular }}</td>
                <td>{{ persona.mail }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('persona_edit', { 'id': persona.id }) }}"><img src="{{ asset('public/iconos/detalle.png') }}"  height="32" width="32"></a>
                        </li>

                        <li class="list-inline-item">
                            <a href="{{ path('persona_edit', { 'id': persona.id }) }}"><img src="{{ asset('public/iconos/baja.png') }}"  height="32" width="32"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('licencias_new', { 'id': persona.id }) }}"><img src="{{ asset('public/iconos/licencias.png') }}"  height="32" width="32"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div><br />
    <ul>
        <li>
            <a href="{{ path('persona_new') }}"> <img src="{{ asset('public/iconos/usuarios.png') }}"  height="42" width="42"> </a>
        </li>
    </ul>
    
{% endblock %}
