{% extends 'base.html.twig' %}

{% block body %}


<script>
$(document).ready(function(){

    $('#abmbundle_persona_fechaFin').append('<div>&nbsp; &nbsp;<b Style="color:red;">(Dejar en blanco si no posee fecha fin)</b> </div>');


    if($('#abmbundle_persona_fechaFin_day').val() == ''){

       $('#abmbundle_persona_fechaFin_day').fadeTo( "slow", 0.33 );

       }

    if($('#abmbundle_persona_fechaFin_month').val() == ''){

       $('#abmbundle_persona_fechaFin_month').fadeTo( "slow", 0.33 );

       }

    if($('#abmbundle_persona_fechaFin_year').val() == ''){

       $('#abmbundle_persona_fechaFin_year').fadeTo( "slow", 0.33 );

       }

       $('#abmbundle_persona_fechaFin_day').change(function(){
         
         if($($(this)).val() == ''){

          $($(this)).fadeTo( "slow", 0.33 );
          
           $($(this)).fadeTo( "slow", 0.33 );
           $('#abmbundle_persona_fechaFin_month').val('');
           $('#abmbundle_persona_fechaFin_month').fadeTo( "slow", 0.33  );

           $('#abmbundle_persona_fechaFin_year').val('');
           $('#abmbundle_persona_fechaFin_year').fadeTo( "slow", 0.33  );

          }else
          {
           $($(this)).fadeTo( "slow", 1 );
           $('#abmbundle_persona_fechaFin_month').val(1);
           $('#abmbundle_persona_fechaFin_month').fadeTo( "slow", 1 );

           $('#abmbundle_persona_fechaFin_year').val(2000);
           $('#abmbundle_persona_fechaFin_year').fadeTo( "slow", 1 );
          }
      
        });


  $('#abmbundle_persona_fechaFin_month').change(function(){
         
         if($(this).val() == ''){

          $($(this)).fadeTo( "slow", 0.33 );
          $('#abmbundle_persona_fechaFin_day').val('');
          $('#abmbundle_persona_fechaFin_day').fadeTo( "slow", 0.33  );          
 
          $('#abmbundle_persona_fechaFin_year').val('');
          $('#abmbundle_persona_fechaFin_year').fadeTo( "slow", 0.33  );

          }else
          {
           $($(this)).fadeTo( "slow", 1 );
          $('#abmbundle_persona_fechaFin_day').val(1);
          $('#abmbundle_persona_fechaFin_day').fadeTo( "slow", 1  );          
 
          $('#abmbundle_persona_fechaFin_year').val(2000);
          $('#abmbundle_persona_fechaFin_year').fadeTo( "slow", 1  );
          }
         
         });


  $('#abmbundle_persona_fechaFin_year').change(function(){
         
         if($(this).val() == ''){

          $($(this)).fadeTo( "slow", 0.33 );
          $('#abmbundle_persona_fechaFin_day').val('');
          $('#abmbundle_persona_fechaFin_day').fadeTo( "slow", 0.33  );          
 
          $('#abmbundle_persona_fechaFin_month').val('');
          $('#abmbundle_persona_fechaFin_month').fadeTo( "slow", 0.33  );

          }else
          {
           $($(this)).fadeTo( "slow", 1 );
           $('#abmbundle_persona_fechaFin_day').val(1);
           $('#abmbundle_persona_fechaFin_day').fadeTo( "slow", 1  );          
 
           $('#abmbundle_persona_fechaFin_month').val(1);
           $('#abmbundle_persona_fechaFin_month').fadeTo( "slow", 1  );
          }
         
         });         


});




</script>


<div class="container-fluid" style="position: relative; width:70%;" >
 <h1><b>Crear Persona </b></h1><br />
    {{ form_start(form) }}
        {{ form_widget(form) }}
         {{ form_widget(form.prepaga) }}
     {{ form_errors(form) }}
        <input class="btn btn-outline-primary" type="submit" value="Crear" />
    {{ form_end(form) }}
  <br />
    <ul class="list-group">
        <li>
            <a href="{{ path('persona_index') }}">Volver a la lista</a>
        </li>
    </ul>
   
   </div> 
{% endblock %}
